#carousel-area {
  overflow: hidden;
  background: #2c3e50;
  /*
			WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
			now override the 3.3 new styles for modern browsers & apply opacity
			*/
}
#carousel-area .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
#carousel-area .carousel-inner .active {
  opacity: 1;
}
#carousel-area .carousel-inner .active.left,
#carousel-area .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#carousel-area .carousel-inner .next.left,
#carousel-area .carousel-inner .prev.right {
  opacity: 1;
}
#carousel-area .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  #carousel-area .carousel-inner > .item.next,
  #carousel-area .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #carousel-area .carousel-inner > .item.prev,
  #carousel-area .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #carousel-area .carousel-inner > .item.next.left,
  #carousel-area .carousel-inner > .item.prev.right,
  #carousel-area .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
#carousel-area .item {
  background-size: 100%;
  background-size: cover;
  height: 560px;
}
#carousel-area .item .carousel-caption {
  top: 27%;
  text-shadow: none;
}
#carousel-area .item .carousel-caption h2 {
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #333;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
#carousel-area .item .carousel-caption h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #333;
  font-weight: 100;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
#carousel-area .item .carousel-caption .btn {
  margin: 30px 15px 0px 0px;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
#carousel-area .item .text-coler h2 {
  color: #fff;
}
#carousel-area .item .text-coler h3 {
  color: #fff;
}
#carousel-area .active {
  opacity: 1;
}
#carousel-area .active.left,
#carousel-area .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#carousel-area .carousel-control {
  z-index: 10;
  top: 50%;
  padding: 10px 5px;
  box-shadow: none;
  background-image: none;
  margin-top: -35px;
  text-shadow: none;
  opacity: 1;
}
#carousel-area .carousel-control i {
  border-radius: 100%;
  border: 2px solid #3f51b5;
  width: 50px;
  color: #3f51b5;
  height: 50px;
  padding: 15px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#carousel-area .carousel-control i:hover {
  background: #3f51b5;
  color: #fff;
  border-color: #3f51b5;
}
#carousel-area .left.carousel-control {
  left: 5%;
}
#carousel-area .right.carousel-control {
  right: 5%;
}
#carousel-area .carousel-indicators {
  bottom: 45px;
}
#carousel-area .carousel-indicators li {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  opacity: 0.5;
}
#carousel-area .carousel-indicators li:hover,
#carousel-area .carousel-indicators li.active {
  opacity: 1.0;
}
#carousel-area:hover .carousel-control {
  display: block;
}
#carousel-area i {
  margin-right: 10px;
}
#slider {
  overflow-x: hidden;
}
#slider i {
  margin-right: 10px;
}
#slider .btn {
  margin: 30px 14px 0px 0px;
}
.big-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}
.medium-title {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
}
.mr {
  margin-right: 10px;
}
.text-left {
  text-align: left!important;
}
.text-right {
  text-align: right!important;
}
