.navbar-default.affix {
  width: 100%;
  top: 0;
  z-index: 99999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.navbar-default.affix .navbar-brand {
  padding: 7px 15px;
  height: 54px;
}
.navbar-default.affix .navbar-nav > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default.affix .icon-right {
  margin-top: 10px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.top-bar {
  background: #f5f5f5;
  border-bottom: 1px solid #f0f0f0;
}
.top-bar .contact-details li {
  display: inline-block;
}
.top-bar .contact-details li a {
  font-size: 13px;
  display: block;
  margin-left: 15px;
  color: #222;
  line-height: 48px;
}
.top-bar .contact-details li a i {
  padding-right: 5px;
  vertical-align: middle;
}
.account-setting {
  position: relative;
  float: right;
  padding: 4px;
  margin-right: 5px;
  color: #fff;
}
.account-setting a {
  display: inline-block;
  padding: 6px;
  outline: none;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
.account-setting a i {
  margin-right: 5px;
}
.account-setting a:hover {
  color: #3f51b5;
}
.top-bar-bottom {
  background: #3f51b5;
  padding: 15px;
}
.top-bar-bottom .header-logo {
  float: left;
}
.top-bar-bottom .name-title {
  float: left;
  padding: 5px 20px;
  margin-top: 10px;
  border-left: 1px dotted #aaa;
}
.search-area {
  margin: 8px 10px 0;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #ddd;
  width: 65%;
  float: left;
}
.search-area .categories-filter {
  border-right: 1px solid #E0E0E0;
  text-transform: capitalize;
  display: inline-block;
  line-height: 38px;
  background: #fff;
  border-radius: 0;
}
.search-area .categories-filter .dropdown-menu {
  min-width: 180px;
  border: none;
  padding: 3px 15px;
  border-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.search-area .categories-filter .dropdown-menu .menu-header {
  margin: 0;
}
.search-area .categories-filter .dropdown-menu li {
  margin-bottom: 10px;
}
.search-area .categories-filter .dropdown-menu li a {
  border-bottom: none;
}
.search-area .categories-filter a {
  padding: 0 20px;
  color: #666;
  font-size: 13px;
}
.search-area .search-field {
  border: none;
  padding: 7px 5px;
  color: #777;
  width: 65%;
}
.search-area .search-field:focus {
  outline: none;
}
.search-area .search-button {
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 6px 16px 9px;
  text-align: center;
}
.search-area .search-button i {
  vertical-align: middle;
}
.search-area .search-button i:hover {
  color: #3f51b5;
}
ul.social-list {
  float: right;
}
ul.social-list li {
  float: left;
  padding: 6px 0;
}
ul.social-list li a {
  display: inline-block;
  color: #999;
}
ul.social-list li a i {
  font-size: 16px;
  display: block;
  width: 34px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.social-list li .fa-facebook:hover {
  color: #507CBE;
}
.social-list li .fa-twitter:hover {
  color: #63CDF1;
}
.social-list li .fa-google-plus:hover {
  color: #F16261;
}
.social-list li .fa-linkedin:hover {
  color: #90CADD;
}
.caret {
  border-top: none;
  border-right: none;
  position: relative;
  line-height: 22px;
}
.caret:before {
  content: "\e604";
  font-family: 'Simple-Line-Icons';
  left: -2px;
  top: -12px;
  font-size: 11px;
  float: right;
  position: absolute;
}
.navbar {
  margin-bottom: 0;
  background: #fff;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
.navbar-brand {
  margin: 0!important;
  padding: 20px 15px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar-brand img {
  width: 120px;
}
.navbar-default .navbar-nav {
  margin-right: 0px!important;
  position: relative;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav > li {
  margin-left: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-default .navbar-nav > li > a {
  color: #666;
  display: block;
  font-size: 14px;
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 10px 20px;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  font-weight: 400;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
  color: #fff;
  background: #3f51b5;
  border-radius: 2px;
}
.navbar-default .navbar-nav > li > a i {
  margin: 0 -2px 0 -5px;
}
.navbar-default .navbar-nav .dropdown {
  position: absolute;
  left: 0;
  margin-top: 25px;
  border-top: 1px solid #3f51b5;
  top: 100%;
  min-width: 220px;
  background-color: #fff;
  visibility: hidden;
  z-index: 999;
  opacity: 0;
  border-radius: 2px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav > li.drop:hover .dropdown {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}
.dropdown li,
.sup-dropdown li {
  position: relative;
}
.dropdown li a {
  display: block;
  color: #666;
  font-size: 13px;
  border-bottom: 1px solid #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 18px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.dropdown li:last-child a {
  border: none;
}
.dropdown li a i {
  margin: 0 0 0 -4px;
}
.dropdown > li:hover > a {
  color: #3f51b5;
}
.dropdown li a.active {
  color: #3f51b5;
}
.navbar-default .mega-menu {
  background: #3f3f3f;
  padding: 30px;
  width: 550px;
}
.navbar-default .mega-menu .menulinks .maga-menu-title {
  display: block;
  margin-bottom: 10px;
}
.navbar-default .mega-menu .menulinks .maga-menu-title a {
  font-weight: 700;
  font-size: 15px;
  padding: 0 0 7px;
  color: #222;
  display: block;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-default .mega-menu .menulinks .maga-menu-title a:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 16px;
  height: 1px;
  background: #e3e3e3;
}
.navbar-default .mega-menu .menulinks li a {
  font-size: 13px;
  font-weight: 400;
  padding: 7px 0px;
  border: none;
  display: block;
}
.navbar-default .mega-menu .menulinks li a:hover {
  color: #3f51b5;
}
.navbar-default .megamenu2 {
  width: 475px;
}
.mobile-menu {
  display: none;
}
.slicknav_menu {
  display: none;
}
.slicknav_btn:hover {
  background: #3f51b5;
}
.slicknav_menu .slicknav_icon-bar {
  background: #3f51b5;
}
@media screen and (max-width: 767px) {
  .js .mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
}
.navbar-toggle {
  display: none;
}
.toggle-wrap {
  position: relative;
}
.toggle_cont {
  display: none;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
  padding: 7px 0;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  z-index: 20;
  font-size: 14px;
  line-height: 16px;
}
.toggle_cont > li {
  padding: 8px 5px 8px 20px;
  display: inline-block;
  width: 100%;
}
.toggle_cont > li > a,
.toggle_cont > li > button {
  text-align: left;
  display: inline-block;
  color: #a5a8ae;
  background: none;
}
.toggle_cont > li > a:visited,
.toggle_cont > li > button:visited {
  color: #a5a8ae;
}
.toggle_cont > li > a:hover,
.toggle_cont > li > a:active,
.toggle_cont > li > a:focus,
.toggle_cont > li > button:hover,
.toggle_cont > li > button:active,
.toggle_cont > li > button:focus {
  color: #34373c;
  background: none !important;
}
/*================  CURRENCY AND LANGUAGE BOXES ===============*/
.language-wrapper {
  float: left;
}
.language-wrapper a {
  margin-right: 20px;
}
.box-language,
.box-currency {
  display: inline-block;
  padding: 16px 0;
  margin-right: 6px;
}
.box-language .btn-group,
.box-currency .btn-group {
  vertical-align: top;
  margin: 0;
}
.box-language img,
.box-currency img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  position: relative;
  top: -1px;
}
.box-language .toggle,
.box-currency .toggle {
  color: #222;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 0px 3px;
  border-radius: 2px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.box-language .toggle span + span,
.box-currency .toggle span + span {
  margin-right: 17px;
  float: left;
}
.box-language .toggle span:first-child,
.box-currency .toggle span:first-child {
  position: relative;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.box-language .toggle:after,
.box-currency .toggle:after {
  display: inline-block;
  content: '\f107';
  font-size: 13px;
  font-weight: 400;
  margin-left: 0;
  font-family: "FontAwesome";
  vertical-align: top;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.box-language .toggle.active,
.box-language .toggle:hover,
.box-currency .toggle.active,
.box-currency .toggle:hover {
  color: #34373c;
}
.box-language .toggle_cont,
.box-currency .toggle_cont {
  left: 0;
  top: 32px;
  width: 133px;
  text-align: left;
  z-index: 99;
}
.box-language .toggle_cont > li > a,
.box-language .toggle_cont > li > button,
.box-currency .toggle_cont > li > a,
.box-currency .toggle_cont > li > button {
  color: #a5a8ae;
}
.box-language .toggle_cont > li > a:visited,
.box-language .toggle_cont > li > button:visited,
.box-currency .toggle_cont > li > a:visited,
.box-currency .toggle_cont > li > button:visited {
  color: #a5a8ae;
}
.box-language .toggle_cont > li > a:hover,
.box-language .toggle_cont > li > a:active,
.box-language .toggle_cont > li > a:focus,
.box-language .toggle_cont > li > a.selected,
.box-language .toggle_cont > li > button:hover,
.box-language .toggle_cont > li > button:active,
.box-language .toggle_cont > li > button:focus,
.box-language .toggle_cont > li > button.selected,
.box-currency .toggle_cont > li > a:hover,
.box-currency .toggle_cont > li > a:active,
.box-currency .toggle_cont > li > a:focus,
.box-currency .toggle_cont > li > a.selected,
.box-currency .toggle_cont > li > button:hover,
.box-currency .toggle_cont > li > button:active,
.box-currency .toggle_cont > li > button:focus,
.box-currency .toggle_cont > li > button.selected {
  color: #34373c;
}
.box-currency .toggle_cont {
  width: 120px;
}
button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.dropdown-search {
  min-width: 360px!important;
  padding: 15px;
  right: 0px;
  left: auto;
  margin-top: 13px;
}
.dropdown-search input {
  border: 1px solid #e8e8e8;
  padding: 7px 5px;
  color: #777;
  width: 100%;
}
.dropdown-search .input-outer {
  position: relative;
}
.dropdown-search .input-outer button {
  position: absolute;
  right: 0;
  top: 0;
}
.dropdown-search .sb-search-submit {
  text-align: center;
  padding: 10px 22px;
  text-transform: inherit;
  background: #3f51b5;
  color: #fff;
  border-radius: 0;
}
.dropdown .dropdown-search {
  left: auto;
  right: -15px;
  margin-top: 16px;
}
.dropdown.text-right .dropdown-menu {
  left: auto;
  right: -15px;
  margin-top: 16px;
  padding: 0;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  border-top: 1px solid #3f51b5;
  top: 100%;
  min-width: 220px;
  background-color: #fff;
  z-index: 999;
  border-radius: 2px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu li a {
  display: block;
  color: #666;
  font-size: 13px;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 18px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.dropdown-menu li a .icon {
  margin-right: 10px;
}
.dropdown-menu li a:hover {
  color: #3f51b5;
  background: transparent;
}
.cart-popup {
  position: relative;
  display: inline-block;
}
.cart-popup .dropdown-popup:hover .cart-box {
  opacity: 1;
  top: 83px;
  transition: all 0.5s ease 0s;
  visibility: visible;
  z-index: 99999999;
}
.cart-box {
  position: absolute;
  z-index: 99;
  opacity: 0;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 300px;
  left: auto;
  top: 58px;
  right: -27px;
}
.cart-box .popup-container {
  border: 1px solid #ddd;
  padding: 15px;
  background: #FFF;
  position: relative;
}
.cart-box .popup-container:before {
  background: url(../img/search-angle.png);
  content: "";
  height: 15px;
  position: absolute;
  right: 32px;
  top: -15px;
  width: 28px;
}
.cart-box .cart-entry {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.cart-box .image {
  float: left;
  width: 70px;
}
.cart-box .content {
  padding: 0px 20px 0 85px;
  text-align: left;
}
.cart-box .content .title {
  font-size: 14px;
  line-height: 18px;
  color: #333;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}
.cart-box .content .quantity {
  font-size: 12px;
  line-height: 24px;
  color: #999;
  margin-bottom: 3px;
}
.cart-box .content .price {
  font-size: 18px;
  line-height: 24px;
  color: #E11414;
  font-weight: 700;
}
.cart-box .button-x {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.cart-box .summary {
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.cart-box .summary .subtotal,
.cart-box .summary .price-s {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart-box .summary .subtotal {
  float: left;
}
.cart-box .summary .price-s {
  float: right;
}
.cart-box .cart-buttons {
  display: block;
}
.cart-box .cart-buttons .btn {
  padding: 10px 25px;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 14px;
  margin-left: 5px;
}
.cart-box .cart-buttons .btn-border-2 {
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  color: #333;
}
.cart-box .cart-buttons .btn-border-2:hover {
  background: transparent;
  border-color: #3f51b5;
  color: #3f51b5;
}
.shop-cart {
  float: right;
  margin: 8px 8px;
}
.shop-cart ul li {
  display: inline-block;
  position: relative;
}
.shop-cart ul li .cart-btn {
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 7px 14px;
  position: relative;
  border: 1px solid #ddd;
}
.shop-cart ul li .cart-btn:hover {
  background: #3f51b5;
  color: #fff;
}
.shop-cart ul li .cart-btn .cart-label {
  color: #ffffff;
  background-color: #3f51b5;
  font-size: 11px;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
  position: absolute;
  right: -12px;
  top: -14%;
  border-radius: 50%;
  line-height: 22px;
}
.shop-cart ul li:hover .cart-box {
  opacity: 1;
  transition: all 0.5s ease 0s;
  visibility: visible;
  z-index: 99999999;
}
.popup:last-child {
  margin-bottom: 0px !important;
}
.shopping-cart a i {
  padding: 20px 0;
}
.shopping-cart .indicator {
  display: none;
}
.shop-icon li {
  margin-left: 25px;
}
.shop-icon li a i {
  color: #888;
  font-size: 15px;
  padding: 20px 0;
}
.link-inline {
  display: inline-block;
  padding: 7px 10px;
  margin-top: 8px;
  float: right;
  border-radius: 2px;
  border: 1px solid #3f51b5;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
}
.link-inline:hover a {
  color: #fff;
}
.link-inline a {
  color: #3f51b5;
  text-transform: uppercase;
  font-size: 12px;
}
.link-inline a i {
  font-size: 12px;
  margin-right: 5px;
}
.categories-wrapper {
  border: 1px solid #eee;
  margin: 0;
}
.categories-wrapper .block-title {
  padding: 15px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #3f51b5;
}
.vertical-menu li {
  display: block;
  position: relative;
  border-top: 1px solid #eee;
}
.vertical-menu li a {
  margin: 0;
  padding: 12px 20px;
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.vertical-menu li > a:hover,
.vertical-menu li > a:focus,
.vertical-menu li > a:active {
  background: #3f51b5;
  color: #fff !important;
}
.vertical-menu li > ul.dropdown-menu {
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  left: 260px;
  top: 0;
}
.vertical-menu li > ul.dropdown-menu li {
  border: none;
}
.vertical-menu li > ul.dropdown-menu li a {
  padding: 15px 36px;
  font-size: 13px;
}
.vertical-menu .caret {
  float: right;
  margin-top: 10px;
}
.caret-right {
  float: right;
  margin-top: 5px;
}
.categories-wrapper ul li.dropdown.open {
  -moz-transition: transform .5s linear;
  -webkit-transition: transform .5s linear;
  -o-transition: transform .5s linear;
  -ms-transition: transform .5s linear;
}
