.shop-product {
  margin: 15px 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.shop-product .product-box {
  position: relative;
  overflow: hidden;
}
.shop-product .product-box img {
  width: 100%;
}
.shop-product .product-box .cart-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  opacity: 0;
  height: 100%;
  background: rgba(9, 9, 9, 0.6);
  -webkit-transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  transition: all 300ms ease-out 0s;
}
.shop-product .sticker {
  position: absolute;
  top: 0px;
  width: 60px;
  height: 40px;
  border-radius: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0px;
  right: 0px;
  line-height: 18px;
  text-align: center;
}
.shop-product .sale {
  background: #000;
}
.shop-product .new {
  background: #FFC107;
}
.shop-product .discount {
  background: #3f51b5;
}
.shop-product .product-info {
  padding: 21px 15px 40px;
}
.shop-product .product-info .pc-title {
  font-size: 14px;
  margin: 0;
  color: #3f51b5;
  text-transform: uppercase;
}
.shop-product .product-info .product-title {
  margin-bottom: 10px;
}
.shop-product .product-info .product-title a {
  font-size: 16px;
  font-weight: 700;
}
.shop-product .product-info .star-rating {
  margin-bottom: 5px;
}
.shop-product .product-info .price {
  font-size: 16px;
}
.shop-product .product-info .price del {
  font-weight: 400;
  margin-right: 7px;
  color: #999;
  font-size: 15px;
  margin-left: 5px;
  font-style: italic;
}
.shop-product .product-info .reviews-icon {
  font-size: 12px;
  margin: 1px;
  color: #999;
}
.shop-product .product-info .reviews-icon .i-color {
  color: #3f51b5;
}
.shop-product .actions {
  left: 0px;
  right: 0px;
  width: 100%;
  top: 45%;
  text-align: center;
  position: absolute;
  margin: 0px auto;
}
.shop-product .actions .add-to-links a {
  display: inline-block;
  margin-left: 3px;
  opacity: 0;
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-transition: ease .4s all;
  -moz-transition: ease .4s all;
  transition: ease .4s all;
}
.shop-product .actions .add-to-links .btn-cart,
.shop-product .actions .add-to-links .btn-wish,
.shop-product .actions .add-to-links .btn-quickview {
  line-height: 40px;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 2px;
  position: relative;
  text-align: center;
  font-weight: normal;
  display: inline-block;
  font-size: 14px;
  color: #666666;
  background: #fff;
  cursor: pointer;
  -webkit-transition: ease .3s all;
  -moz-transition: ease .3s all;
  transition: ease .3s all;
}
.shop-product .actions .add-to-links .btn-cart:hover,
.shop-product .actions .add-to-links .btn-wish:hover,
.shop-product .actions .add-to-links .btn-quickview:hover {
  background: #3f51b5;
  color: #fff;
}
.shop-product:hover .add-to-links a {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: ease .5s all;
  -moz-transition: ease .5s all;
  transition: ease .5s all;
}
.shop-product:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.12);
}
.shop-product:hover .wishlist {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -0-transform: scale(1);
  transform: scale(1);
}
.shop-product:hover .cart-overlay {
  opacity: 1;
}
.tooltip-inner {
  font-size: 12px;
  border-radius: 2px;
  padding: 7px 10px;
  background: rgba(0, 0, 0, 0.5);
}
.product-option {
  background: #f6f6f6;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}
.floatleft {
  float: left;
}
.option-btn {
  margin-right: 20px;
  padding: 0;
  color: #999;
}
.dropdown-width {
  width: 290px;
  border-radius: 0px;
}
.widget-categories {
  background: #fff;
  width: 100%;
}
.widget-info.product-cat {
  background: #fff none repeat scroll 0 0;
  height: 290px;
  padding: 15px 20px 20px 10px;
}
.product-cat .treeview {
  padding-left: 20px;
}
.product-cat .treeview li span {
  color: #666;
  display: block;
  font-size: 14px;
  line-height: 25px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.product-cat .treeview li > ul > li > a {
  color: #999;
  display: block;
  font-size: 13px;
  line-height: 25px;
  text-transform: capitalize;
}
button {
  border: none;
  background: transparent;
  transition: all 0.3s ease 0s;
}
button:hover {
  color: #3f51b5;
}
.info-panel {
  padding-left: 30px;
}
.info-panel .product-title {
  display: block;
  font-size: 40px;
  margin-bottom: 27px;
  text-transform: capitalize;
  line-height: 1;
}
.info-panel .price-ratting {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.info-panel .price-ratting .price {
  color: #7a7a7a;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  float: left;
}
.info-panel .price-ratting .ratting {
  float: right;
}
.info-panel .price-ratting .active {
  color: #3f51b5;
}
.info-panel .short-desc {
  margin-bottom: 20px;
}
.info-panel .sub-title {
  display: block;
  font-size: 16px;
  line-height: 12px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
}
.info-panel .sub-title:before {
  background-color: #3f51b5;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 30px;
}
.info-panel .product-size {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
}
.info-panel .product-size span {
  padding: 6px 12px;
  border-radius: 2px;
  float: left;
  background: #EFEFEF;
  text-align: center;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.info-panel .product-size span.active {
  background: #3f51b5;
  color: #fff;
}
.info-panel .color-list {
  margin-bottom: 25px;
  display: inline-block;
  clear: both;
}
.info-panel .color-list button {
  border: none;
  border-radius: 2px;
  display: block;
  float: left;
  height: 40px;
  margin-top: 5px;
  margin-right: 12px;
  padding: 0;
  width: 42px;
  color: #fff;
}
.info-panel .color-list button i {
  color: #fff;
  display: block;
  font-size: 10px;
  line-height: 22px;
  opacity: 0;
}
.info-panel .color-list button.active i {
  opacity: 1;
}
.info-panel .quantity-cart {
  margin-bottom: 25px;
}
.info-panel .quantity-cart .add-to-cart {
  background-color: #3f51b5;
  color: #fff;
  display: block;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-bottom: 10px;
  padding: 6px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
}
.info-panel .usefull-link {
  margin-bottom: 0px;
  display: inline-block;
}
.info-panel .usefull-link li {
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}
.info-panel .usefull-link li a {
  color: #666;
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
.info-panel .usefull-link li a i {
  margin-right: 5px;
}
.info-panel .share-icons {
  clear: both;
  display: block;
  overflow: hidden;
}
.info-panel .share-icons span {
  color: #666;
  float: left;
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
  text-transform: uppercase;
}
.info-panel .share-icons a {
  color: #999;
  display: block;
  float: left;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  background: #ddd;
  text-align: center;
  line-height: 28px;
  border-radius: 2px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.info-panel .share-icons a:hover .fa-facebook {
  color: #507CBE;
}
.info-panel .share-icons a:hover .fa-twitter {
  color: #63CDF1;
}
.info-panel .share-icons a:hover .fa-instagram {
  color: #FB3958;
}
.info-panel .share-icons a:hover .fa-pinterest {
  color: #c8232c;
}
.md-content > .md-close:hover {
  color: #3f51b5;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.btn-addtocart {
  background: #222;
  color: #fff;
  border-radius: 0px;
  padding: 13px 0px 12px 20px;
  text-transform: uppercase;
}
.btn-addtocart:hover {
  color: #3f51b5;
}
.btn-addtocart span {
  padding: 13px 20px;
  margin-left: 35px;
  border-left: 1px solid #8e8e8e;
}
.product-details--wishlist button {
  border: none;
  background: none;
  padding: 0;
}
.addtowishlist {
  text-transform: uppercase;
  font-family: "loveloblack";
  font-weight: 500;
  color: #777;
}
.addtowishlist:hover {
  color: #3f51b5;
}
/* single-product-tab review */
.single-pro-tab {
  background: #f6f6f6;
}
.pro-tab-info {
  background: #fff;
  padding: 40px 30px;
  border: 1px solid #eee;
}
.pro-tab-info .small-title {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
}
.single-pro-tab-menu ul li {
  margin-bottom: 25px;
  display: inline-block;
}
.single-pro-tab-menu ul li a {
  color: #666;
  display: block;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  text-decoration: none;
}
.single-pro-tab-menu ul li.active a {
  background: #3f51b5;
  color: #fff;
}
.tab-title {
  font-size: 18px;
  font-weight: 500;
  font-family: "loveloblack";
  padding-bottom: 10px;
  text-transform: uppercase;
}
.customer-review {
  margin-bottom: 30px;
}
.product-comments li {
  float: left;
}
.pro-reviewer {
  float: left;
  width: 90px;
}
.pro-reviewer-comment {
  margin-left: 90px;
  padding-left: 30px;
}
.comment-reply a {
  background: #f6f6f6;
  color: #999;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-left: 2px;
  text-align: center;
  width: 50px;
}
.comment-reply a:hover {
  background: #3f51b5;
  color: #fff;
}
.reply-date {
  color: #999;
  margin-bottom: 10px;
}
.tab-title.title-border::before {
  height: 3px;
}
.threaded-comments {
  padding-left: 20px;
}
.your-rating span a {
  color: #434343;
  font-size: 16px;
}
.separator {
  color: #ccc;
  margin: 0 15px;
}
.fix {
  overflow: hidden;
}
.mb-30 {
  margin-bottom: 30px;
}
.shop-pagination {
  margin-top: 20px;
}
/* Categories Page */
.md-30 {
  margin-bottom: 30px;
}
.widget-ct {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
}
.widget-search {
  position: relative;
}
.widget-search input {
  background: #fff;
  height: 50px;
  margin-bottom: 0;
  padding: 0 35px 0 20px;
}
.widget-search input[type="text"] {
  background: #f6f6f6;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #999;
  height: 50px;
  margin-bottom: 15px;
  padding: 0 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  outline: none;
}
.widget-search button {
  color: #999;
  font-size: 18px;
  position: absolute;
  right: 4px;
  padding: 12px 15px;
  top: 0;
}
.widget-categories {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
}
.widget-s-title h4 {
  border-bottom: 2px solid #f6f6f6;
  color: #666;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
  padding: 0 30px;
  text-transform: uppercase;
}
.product-cat {
  background: #fff;
  padding: 15px 20px 20px 30px;
}
.product-cat li a {
  color: #666;
  display: block;
  font-size: 13px;
  line-height: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.product-cat li a:hover {
  color: #3f51b5;
}
.product-cat li:last-child {
  border: none;
}
.product-cat li span {
  float: right;
  font-size: 12px;
  color: #999;
}
.product-cat li span:hover {
  color: #3f51b5;
}
.product-cat .panel {
  margin: 0;
  box-shadow: none;
}
.product-cat .listSidebar {
  padding: 0 15px;
}
.product-cat .listSidebar li {
  border-top: 1px dashed #EFEFEF!important;
}
.product-cat .pr-all {
  color: #3f51b5;
}
.widget-info {
  padding: 20px 30px;
}
.color-filter ul li {
  color: #666;
  float: left;
  font-size: 14px;
  line-height: 28px;
  width: 100%;
}
.color-filter ul li a {
  color: #666;
}
.color-filter ul li a:hover {
  color: #3f51b5;
}
.color-filter ul li span.count {
  float: right;
  color: #999;
}
.color-filter ul li span.count:hover {
  color: #3f51b5;
}
span.color {
  background: #ddd;
  display: inline-block;
  height: 13px;
  margin-right: 20px;
  width: 13px;
}
span.color.color-1 {
  background: #ffa07a;
}
span.color.color-2 {
  background: #E9967A;
}
span.color.color-3 {
  background: #FE5858;
}
span.color.color-4 {
  background: #00B2EE;
}
span.color.color-5 {
  background: #00EEB3;
}
span.color.color-6 {
  background: #8DC63F;
}
span.color.color-7 {
  background: #C38B4B;
}
.color-filter ul li.active a,
.color-filter ul li.active span.count {
  color: #3f51b5;
}
.color-filter ul li.active span.color,
.color-filter ul li:hover span.color {
  outline: 1px solid #D6B98C;
  outline-offset: 1px;
}
.filter-price .irs-bar {
  background: #3f51b5;
}
.filter-price .irs-slider {
  background: #3f51b5;
}
.filter-price .filter-btn {
  margin-top: 30px;
}
.filter-price .filter-btn .btn-common {
  padding: 7px 27px;
}
.size-filter li {
  float: left;
  margin: 5px 5px 0 0;
}
.size-filter li a {
  background: #f6f6f6;
  display: block;
  color: #666;
  font-weight: 700;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 34px;
}
.size-filter ul li.active a,
.size-filter ul li a:hover {
  background: #3f51b5;
  color: #fff;
}
.widget-banner .widget-info {
  padding: 15px;
}
.widget-banner .widget-info img {
  width: 100%;
}
.clearfix {
  clear: both;
}
.shop-content {
  display: inline-block;
}
.shop-tab > li {
  float: left;
  margin-right: 20px;
}
.shop-tab > li a {
  color: #666;
  display: block;
  font-size: 20px;
}
.shop-tab li.active a {
  color: #3f51b5;
}
.showing {
  margin-top: 12px;
}
.shop-list .product-box {
  float: left;
  width: 29.333%;
}
.shop-list .product-info {
  float: left;
  text-align: left;
  padding: 15px 15px 15px 30px;
  width: 69.667%;
}
.shop-list .product-info .product-title a {
  font-size: 22px;
}
.shop-list .product-info .price {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.product-filter {
  height: 40px;
}
.product-filter .grid-list-count {
  float: left;
  margin-right: 25px;
}
.product-filter .grid-list-count a {
  margin-right: 10px;
}
.product-filter .result-count {
  margin: 0px;
  float: left;
  color: #999;
}
.product-filter .sort-by {
  float: right;
}
.product-filter .sort-by span {
  color: #999;
  display: inline-block;
  line-height: 20px;
  margin-right: 5px;
}
.product-filter .sort-by .woocommerce-ordering {
  float: right;
}
.product-filter .sort-by .woocommerce-ordering .orderby {
  border: none;
}
.product-filter .button,
.product-filter select {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.widget-profile .widget-s-title h4 {
  padding: 0 15px;
}
.widget-profile .info {
  padding: 15px;
}
.widget-profile .info .name {
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
}
.widget-profile .info .contacts-list {
  margin-bottom: 15px;
}
.widget-profile .info .contacts-list li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
.widget-profile .info .contacts-list li i {
  margin-right: 5px;
}
.widget-profile .info .btn-common {
  margin-top: 15px;
}
