/**** ASI PROMO BANNERS ****/
.asi-promo-banner {
  font-size:16px;
  text-align:center;
  font-family:'ProximaNova-Regular',sans-serif;
  width: 100%;
  padding:2em 1em 1em 1.75em;
  margin:0;
}
.asi-promo-banner h1,
.asi-promo-banner h2,
.asi-promo-banner h3,
.asi-promo-banner h4{
  padding:0;
  margin-top:0;
  margin-bottom:0;
}

.asi-promo-banner > p{
  padding:1em 1em;
  margin:0 auto;
  text-align:center;
  max-width:90%;
  font-family:'ProximaNova-Regular',sans-serif;
  line-height:22px;
  letter-spacing:1px;
  color:#FFFFFF;
}
[data-campaign="black-friday"] > p{
  font-size:1.125em;
}
.asi-promo-banner > div.asi-content-button{
  margin-right:auto;
  margin-left:auto;
  padding-bottom:1em;
  text-align:center;
}
.asi-promo-banner > img{
  margin-bottom:0.8625em;
}
  [data-content="free-delivery"] h2.asi-display-90{
    font-size:90px;
    letter-spacing:4.5px;
    line-height:1;
  }
  [data-content="60-months-financing"] h3.asi-display-64{
    font-family:'Knockout-HTF29-JuniorLiteweight','ProximaNova-Semibold',sans-serif;
    font-size:64px;
    letter-spacing:2px;
    line-height:54px;
  }
p.asi-text-callout{
  padding:0.5em;
  margin:0 auto;
  font-family:'ProximaNova-Semibold',sans-serif;
  font-size:26px;
  line-height:30px;
  letter-spacing:4px;
}
p.asi-text-callout + p{
  padding-top:0;
}
.asi-promo-heading{
  font-size:16px;
  text-align:center;
  font-family:'ProximaNova-Regular',sans-serif;
  width: 100%;
  padding:1.5em 1em 0.25em;
  margin:0 auto;
}
  .m-t-2 > .asi-promo-heading{
    border-top:2px solid #f0f0f1;
  }
  .asi-promo-heading > .asi-subtitle{
    font-family:'ProximaNova-Bold',sans-serif;
    font-size:26px;
    letter-spacing:4px;
    line-height:22px;
  }
h3.asi-display-80,
.asi-display-80{
  font-family:'Knockout-HTF29-JuniorLiteweight','ProximaNova-Semibold',sans-serif;
  font-size:80px;
  letter-spacing:2px;
  line-height:70px;
}
/**** ASI BLACK FRIDAY HERO COMPONENT STYLES ****/
#asi-top-banner{ 
  padding:0;
  margin:0;
  width:100%;
  min-height:50px;
  font-size:16px;
}
#asi-top-banner p{
  padding:1.1325rem 1rem 1.025rem;
  margin:0 auto;
  font-family: 'ProximaNova-Regular',sans-serif;
  font-size:24px;
  line-height:28px;
  color:#FFFFFF;
  letter-spacing:3px;
  text-align:center;
}
#asi-hero-content-main{
  background-size:cover;
  background-position:bottom center;
}
.asi-red-bg {background: #EE3D42; opacity:1;}
.asi-black-bg {background: black;}

#asi-hero-section + .asi-container-fluid,
.asi-container-fluid + .asi-container-fluid {
  margin-top: 1rem;
  margin-bottom: 0;
}
#asi-page-content *{
    font-size:16px !important;
}
.asi-black-bg-85{
    background-color:rgba(0,0,0,0.80) !important;
}
div.asi-content-button > a > button.asi-brand-red-2-bg{
  color:#FFFFFF;
}
.asi-black-bg-85 > div > div.asi-content-button > a > button{ color:#ffffff; background:#ee3d42;}
.asi-black-bg-85 > div > div.asi-content-button > a:hover > button{ color:#181818; background:#ffffff;}

#asi-hero-content-main .asi-card-body{background:transparent !important;}
#asi-page-content{
    position:relative;
    padding: 0 0;
    margin:0 0;
    width:100%;
    height:auto;
    display:block;
    font-family:'ProximaNova-Regular',sans-serif;
}
#asi-page-content a:hover,
#asi-page-content a:focus,
#asi-page-content a:link,
#asi-page-content a{
    text-decoration:none !important;
    font-size:1em;
}
#asi-page-content p,
#asi-page-content p.asi-lead{
    font-size:1em;
    letter-spacing:1px;
}
h1 + p,
h2 + p,
h3 + p{
    padding-top:1em;
}
.asi-lead + .asi-content-button{
    margin-top:1em;
}
#asi-hero-item{ 
    position:absolute;
    position:relative;
    z-index:2;
    width:100%;
    margin:0 auto; 
}
.asi-hero-flex{
    display: flex;
    align-items: center;
    width:100%;
}
.asi-card-body-flex{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:1.25em;
}
#asi-hero-content-main + div.asi-card-block{
  font-size:16px !important;
  padding:0 0 !important;
}
#asi-hero-content-main div.asi-card{
  font-size:16px !important;
  width:620px;
  height:680px;
}
#asi-hero-content-main span.asi-sale-name {
  position:relative;
  display:block;
  padding:0;
  margin:0 auto;
  text-align:center;
  color:#FFFFFF;
  font-family: 'ProximaNova-Regular',sans-serif !important;
}
  #asi-hero-content-main h1 {
    margin-top:0 !important;
    margin-bottom:0 !important;
    line-height:1 !important;
  }
  #asi-hero-content-main h1 span:nth-of-type(1){
    font-family: 'ProximaNova-Bold',sans-serif !important;
    font-size: 32px !important;
    letter-spacing: 5.33px !important;
  }
  #asi-hero-content-main h1 span:nth-of-type(2){
    font-size: 180px !important;
    letter-spacing: 15px !important;
    margin-left:5px !important;
  }

#asi-hero-content-main #asi-offer-msg{
  font-size:16px;
  position:relative;
  border:2px solid #ffffff;
  padding:60px 44px 20px;
  margin-top:1.25em;
  margin-bottom:2em;
}
#asi-hero-content-main .asi-offer-off-msg{
  position:relative;
  padding:0 0 0 10px;
  margin:0 0;
}
#asi-hero-content-main .asi-offer-off-msg{
  display:flex;
  flex-direction:row;
  align-items:stretch;
  justify-content:center;
  position:relative;
  max-height:200px;
}
#asi-hero-content-main #asi-offer-lead-box {
  position:absolute;
  top:0;
  left:0;
  padding:0;
  margin:-24px 0 0;
  width:100%;
  height:auto;
  text-align:center;
}
  #asi-offer-lead-box > img{
    height:47px;
    width:350px;
  }
#asi-hero-content-main .asi-offer-off-msg span.asi-20-off{
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 260px !important;
  color: #F33E3B;
  letter-spacing:-30px !important;
  line-height:230px !important;
}
#asi-hero-content-main .asi-offer-off-msg span.asi-percent{
  font-family: 'Knockout-HTF29-JuniorLiteweight','ProximaNova-Regular',sans-serif;
  font-size: 152px !important;
  color: #F33E3B !important;
  margin-left:0.175em !important;
  line-height:140px;
}
#asi-hero-content-main .asi-offer-off-msg span.asi-off{
  font-family: 'Knockout-HTF29-JuniorLiteweight','ProximaNova-Regular',sans-serif;
  font-size: 75px !important;
  color: #F33E3B !important;
  letter-spacing: 0.01px !important;
  margin-left:0.375em !important;
  line-height:54px;
}
#asi-offer-min-box{
  padding-bottom:1.75em;
}
#asi-hero-content-main #asi-offer-msg span.asi-offer-min{
  padding:0;
  margin:0 auto;
  text-align:center;
  font-family: 'ProximaNova-Light',sans-serif !important;
  font-weight:200;
  font-size: 36px !important;
  color: #FFFFFF;
  letter-spacing:1px !important;
  line-height: 60px !important;
}
#asi-offer-min-box + div{
  position:absolute;
  bottom:0;
  left:0;
  padding:0;
  margin:0 0 -24px;
  width:100%;
  height:auto;
  text-align:center;
}
.asi-db-header{}
.asi-db-header-text{
  font-family:'ProximaNova-Light',sans-serif;
  font-size:28px;
  letter-spacing:2px;
}


@media (max-width:480px){
  .asi-top-banner > p{
    font-size:16px;
    padding:8px 8px 6px;
    letter-spacing:1px;
  }
  #asi-hero-content-main div.asi-card {
    font-size: 16px !important;
    width: 100%;
    height:450px;
  }
  #asi-hero-content-main #asi-offer-msg{
    padding:0 2px !important;
    margin-top:1em;
    margin-bottom:1.325em;
  }
  #asi-hero-content-main .asi-card-body-flex{
    padding:0.5em 1em !important;
  }
  #asi-hero-content-main h1 {
    margin-top:0 !important;
  }
  #asi-hero-content-main h1 span:nth-of-type(1),
  #asi-hero-content-main h1 span.asi-sale-name:nth-of-type(1){
    font-size:20px !important;
    letter-spacing:5px !important;
    line-height:24px !important;
  }
  #asi-hero-content-main h1 span:nth-of-type(2),
  #asi-hero-content-main h1 span.asi-sale-name:nth-of-type(2){
    font-size:120px !important;
    letter-spacing: 4px !important;
    margin-left:0px !important;
  }
  #asi-offer-lead-box {
    margin-top:-16px !important;
  }
  #asi-offer-lead-box > img,
  img.asi-first-time-img{
    height:auto;
    width:225px !important;
  }
  #asi-hero-content-main .asi-offer-off-msg{
    padding-top:24px !important;
  }
  #asi-hero-content-main .asi-offer-off-msg span.asi-20-off{
    font-size:185px !important;
    letter-spacing:-20px !important;
    line-height:160px !important;
    padding-right:15px !important;
  }
  #asi-hero-content-main .asi-offer-off-msg span.asi-percent{
    font-size:106px !important;
    color: #EE3D42 !important;
    margin-left:0 !important;
    padding-right:15px !important;
    line-height:98px;
  }
  #asi-hero-content-main .asi-offer-off-msg span.asi-off{
    font-size:50px !important;
    letter-spacing: 0.01px !important;
    margin-left:0 !important;
    padding-right:15px !important;
    line-height:36px;
  }
  #asi-hero-content-main #asi-offer-msg span.asi-offer-min{
    padding:0;
    margin:0 auto;
    text-align:center;
    font-family: 'ProximaNova-Light',sans-serif !important;
    font-weight:200;
    font-size:24px !important;
    color: #FFFFFF;
    letter-spacing:1px !important;
    line-height:36px !important;
  }
  #asi-offer-min-box{
    margin-top:-1.475em;
  }
  #asi-hero-content-main button,
  #asi-hero-content-main button.asi-mix-button{
    font-size:16px !important;
    letter-spacing:2px;
    background:#F33E3B !important;
    transition:0.3s;
  }
  #asi-hero-content-main button:hover,
  #asi-hero-content-main button.asi-mix-button:hover{
    background:#cc0000 !important;
  }
  .asi-db-header{}
  .asi-db-header-text{
    font-family:'ProximaNova-Semibold',sans-serif;
    font-size:11px;
    letter-spacing:0.5px;
  }

}
@media (max-width:640px){
  .asi-top-banner > p{
    font-size:16px;
    padding:8px 8px 6px;
    letter-spacing:1px;
  }
  #asi-hero-content-main{
    background-image:url('images/black-friday-2017/asi-hero-black-friday-11wk4v1-bg-m.jpg') !important;
  }
  #asi-hero-content-main div.asi-card {
    font-size: 16px !important;
    width: 400px;
    height:480px
  }
  #asi-hero-content-main #asi-offer-msg{
    padding:0 2px !important;
    margin-top:1em;
    margin-bottom:1.325em;
  }
  #asi-hero-content-main .asi-card-body-flex{
    padding:0.5em 1em !important;
  }
  #asi-hero-content-main h1 {
    margin-top:0 !important;
  }
  #asi-hero-content-main h1 span:nth-of-type(1),
  #asi-hero-content-main h1 span.asi-sale-name:nth-of-type(1){
    font-size:20px !important;
    letter-spacing:5px !important;
    line-height:24px !important;
  }
  #asi-hero-content-main h1 span:nth-of-type(2),
  #asi-hero-content-main h1 span.asi-sale-name:nth-of-type(2){
    font-size:120px !important;
    letter-spacing: 4px !important;
    margin-left:0px !important;
  }
  #asi-offer-lead-box {
    margin-top:-16px !important;
  }
  #asi-offer-lead-box > img,
  img.asi-first-time-img{
    height:auto;
    width:225px !important;
  }
  #asi-hero-content-main .asi-offer-off-msg{
    padding-top:24px !important;
  }
  #asi-hero-content-main .asi-offer-off-msg span.asi-20-off{
    font-size:185px !important;
    letter-spacing:-20px !important;
    line-height:160px !important;
    padding-right:15px !important;
  }
  #asi-hero-content-main .asi-offer-off-msg span.asi-percent{
    font-size:106px !important;
    color: #EE3D42 !important;
    margin-left:0 !important;
    padding-right:15px !important;
    line-height:98px;
  }
  #asi-hero-content-main .asi-offer-off-msg span.asi-off{
    font-size:50px !important;
    letter-spacing: 0.01px !important;
    margin-left:0 !important;
    padding-right:15px !important;
    line-height:36px;
  }
  #asi-hero-content-main #asi-offer-msg span.asi-offer-min{
    padding:0;
    margin:0 auto;
    text-align:center;
    font-family: 'ProximaNova-Light',sans-serif !important;
    font-weight:200;
    font-size:24px !important;
    color: #FFFFFF;
    letter-spacing:1px !important;
    line-height:36px !important;
  }
  #asi-offer-min-box{
    margin-top:-1.475em;
  }
  #asi-hero-content-main button,
  #asi-hero-content-main button.asi-mix-button{
    font-size:14px !important;
    letter-spacing:2px;
    background:#F33E3B !important;
    transition:0.3s;
  }
  #asi-hero-content-main button:hover,
  #asi-hero-content-main button.asi-mix-button:hover{
    background:#cc0000 !important;
  }
}
/* asi bootstrap4 beta 2 card component css */
.card, .asi-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.asi-card-transparent{
    background-color:none;
}

.card > hr,
.asi-card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child,
.asi-card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child,
.asi-card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body,
.asi-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    /*padding: 1.25rem;*/
}

.card-title,
.asi-card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle,
.asi-card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child,
.asi-card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover,
.asi-card-link:hover {
  text-decoration: none;
}

.card-link + .card-link,
.asi-card-link + .asi-card-link {
  margin-left: 1.25rem;
}

.card-header,
.asi-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child,
.asi-card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child,
.asi-card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer,
.asi-card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child,
.asi-card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs,
.asi-card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills,
.asi-card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay,
.asi-card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img,
.asi-card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top,
.asi-card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom,
.asi-card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck,
.asi-card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card,
.asi-card-deck .asi-card { {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck,
  .asi-card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card,
  .asi-card-deck .asi-card { {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group,
.asi-card-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group .card,
.asi-card-group .asi-card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group,
  .asi-card-group {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group .card,
  .asi-card-group .asi-card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group .card + .card,
  .asi-card-group .asi-card + .asi-card  {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child,
  .asi-card-group .asi-card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top,
  .asi-card-group .asi-card:first-child .asi-card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom,
  .asi-card-group .asi-card:first-child .asi-card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child,
  .asi-card-group .asi-card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top,
  .asi-card-group .asi-card:last-child .asi-card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom,
  .asi-card-group .asi-card:last-child .asi-card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:only-child,
  .asi-card-group .asi-card:only-child {
    border-radius: 0.25rem;
  }
  .card-group .card:only-child .card-img-top,
  .asi-card-group .asi-card:only-child .asi-card-img-top {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .card-group .card:only-child .card-img-bottom,
  .asi-card-group .asi-card:only-child .asi-card-img-bottom {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .card-group .card:not(:first-child):not(:last-child):not(:only-child),
  .asi-card-group .asi-card:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
  .asi-card-group .asi-card:not(:first-child):not(:last-child):not(:only-child) .asi-card-img-top,
  .asi-card-group .asi-card:not(:first-child):not(:last-child):not(:only-child) .asi-card-img-bottom {
    border-radius: 0;
  }
}

.card-columns .card,
.asi-card-columns .asi-card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns,
  .asi-card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card,
  .asi-card-columns .asi-card {
    display: inline-block;
    width: 100%;
  }
}