@font-face {
  font-family: "Knockout-HTF29-JuniorLiteweight";
  src: url("../assets/font/Knockout-HTF29-JuniorLiteweight.otf");
}

@font-face {
  font-family: "Knockout-HTF49-Liteweight";
  src: url("../assets/font/Knockout-HTF49-Liteweight.otf");
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../assets/font/ProximaNova-Bold.otf");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../assets/font/ProximaNova-Semibold.otf");
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../assets/font/ProximaNova-Regular.otf");
}
