@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Lato:300|Roboto:300');

@import "http://propeller.in/components/typography/css/typography.css";
@import "http://propeller.in/components/card/css/card.css";
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";
@import "http://propeller.in/components/tab/css/tab.css";

.asi-mix-contents { padding-left:0px !important; padding-right:0px !important; }
.asi-mix-hero-wrapper { padding-top:0px !important; }

.asi-mix-contents .asi-divider { width:100%; padding:3px 0px 8px; margin:10px auto; text-align:center; max-height:2px; }

.asi-mix-contents .asi-divider .asi-divider-line {background:white; text-align:center; margin:0 auto; padding:0; width:100%; height:2px; max-width:30px;}

.asi-mix-contents p.asi-urgency-msg { font-size:1.5em !important; letter-spacing:1px !important; font-family:'ProximaNova-Regular', sans-serif !important; }

.asi-mix-contents h1.asi-display-1{font-size:104px;padding-top:6px !important; padding-bottom:6px !important;}

.asi-mix-contents p.asi-lead { font-size:22px !important; padding-bottom:0px !important; margin-top:0px !important; margin-bottom:0px !important; }

.asi-mix-contents p.asi-sub-lead { font-size: 18px !important; letter-spacing:1px !important; font-family:'ProximaNova-Regular', sans-serif !important; }

.asi-mix-contents #asi-hero-btn-wrap { width:100%; padding:15px 0px; margin: 0 auto; text-align:center; }

#asi-hero-btn-wrap button { border:none !important; padding:10px 45px !important; font-size:16px !important; }

.asi-fixed-hero {
    max-width:1200px !important;
    width:100% !important;
    margin:0 auto !important;
    padding:0 !important;
    text-align:center !important;
    position:relative;
}
    .asi-fixed-hero .row,
    .asi-fixed-hero .asi-row {
        padding:0 !important;
        margin-left:0 !important;
        margin-right:0 !important;
        position:relative;
        width:100%;
    }
        .asi-fixed-hero #asi-content-col {
            padding:0 !important;
            margin:0 !important;
            position:relative;
            width:100%;
        }

@media screen and (max-width:768px){
    .asi-mix-contents p.asi-urgency-msg { font-size:1.275em !important; }
    .asi-mix-contents h1.asi-display-1{font-size:72px !important; }
    .asi-mix-contents p.asi-lead { font-size:18px !important; }
    .asi-mix-contents p.asi-sub-lead { font-size: 16px !important;}
}
@media screen and (max-width:480px){
    .asi-mix-contents p.asi-urgency-msg { font-size:1.125em !important; }
    .asi-mix-contents h1.asi-display-1{font-size:48px !important; }
    .asi-mix-contents p.asi-lead { font-size:16px !important; }
    .asi-mix-contents p.asi-sub-lead { font-size:13px !important;}
}

/*** global asi styles ***/
.asi-element-spacer,
.asi-module-section{
    position:relative;
    display:block;
    height:auto;
    width:100%;
    padding:0 0 !important;
    margin:0 0 !important;
}
.asi-sp-h-1{ height:1em; }
.asi-sp-h-2{ height:2em; }
.asi-sp-h-3{ height:3em; }
.asi-sp-h-4{ height:4em; }
.asi-sp-h-5{ height:5em; }
    