
.page-title-section {
	position: relative;
	background: url(../images/page-title-bg.jpg) no-repeat scroll center center;
	background-size: cover;
	.title-center {
		padding-top: 65px;
	}
}
.work-counter-widget {
	i {
	    position: absolute;
	    font-size: 170px;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    top: -70px;
	    left: 0;
	    z-index: -11111;
	    opacity: 0.1;
	}
	.counter {
		z-index: 999999;
		span {
			color: #212121;
			font-size: 52px;
			font-weight: 700;
		}
		p {
			color: #212121;
		}
	}

}
.call-to-action-section {
	padding: 90px 0;
	background: url(../images/cta-bg.jpg) no-repeat scroll center center;
	background-size: cover;
	h1 {
		color: #18191b;
		font-size: 56px;
		font-weight: 700;
	}
	h3 {
		font-size: 24px;
		color: #18191b;
	}
}