
.contact-widget-section {
	.single-contact-widget {
		background: #f9f9f9;
		padding: 20px 25px;
		@include team-box-shadow;
		height: 260px;
		margin-top: 25px;
		transition: all 0.3s ease-in-out;
		i {
			font-size: 75px;
		}
		h3 {
			font-size: 20px;
			color: #212121;
			font-weight: 700;
			padding-bottom: 10px;
		}
		p {
			line-height: 16px;
		}
		&:hover {
			background: #fff;
			@include team-box-shadow-hover();
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}
	}
}
#contactForm {
	  .form-group label.control-label {
	  	color: #8c8c8c;
	  }
	  .form-control {
		background-size: 0 2px, 100% 2px;
		font-weight: 500;
	  }
	
}

.google-map-container {
	@include team-box-shadow();
	#google-map-contact {
		height: 300px;
	}
}
.contact-widget-section2 {
	h2 {
		font-weight: 500;
		margin-bottom: 30px;
	}
	.find-widget {
		padding: 10px 0;
		a {
			color: #333;
			font-size: 15px;
			letter-spacing: 0.1rem;
		}
		i {
		    width: 40px;
		    height: 40px;
		    color: #fff;
		    font-size: 20px;
		    text-align: center;
		    line-height: 40px;
		    margin-right: 15px;
		    border-radius: 50%;
		    @include icon-shadow();
		}
	}
}
