.portfolio-nav{
	ul.nav {
		li {

			a {
			  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			  border-bottom: 2px solid transparent;
			  color: #8c8c8c;
			  font-size: 16px;
			  font-weight: 500;
			  padding: 10px 5px;
			  margin-right: 20px;
			  &:hover {
			  	cursor: pointer;
			  }
			}
			&:last-child a {
				margin-right: 0;
			}
			
		} 
	}
}

figure.single-portfolio {
	img {
		width: 100%;
	}
	figcaption {
		background: #fff none repeat scroll 0 0;
	    bottom: 0;
	    height: 35%;
	    padding: 0 20px;
	    position: absolute;
	    width: 100%;
	    transform: translateY(100%);
	    display: none;
	    transition: height 0.5s ease 0s;
	    h2 {
	    	text-transform: capitalize;
			transition: all 0.5s ease 0s;
	    }
	    a.btn {
		    float: right;
		    position: absolute;
		    right: 15px;
		    top: -25px;
		    width: 20px !important;
		    transition: all 0.5s ease 0s;
		}

	}
	&:hover figcaption {
		display: block;
		transform: translateY(0px);
		transition: all 0.5s ease 0s;
		cursor: pointer;
		animation: 0.4s ease 0s normal none 1 running fadeInUpMenu;
	}
}
#mea-portfolio {
	.mix {
		display: none;
	}
}
