.portfolio-details-section {
	.portfolio-details-iamge {
		img {
			border: 1px solid #ddd;
			width: 100%;
		}
	}
	.portfolio-details {
		h2 {
		    font-weight: 500;
		    margin-top: 30px;
		    text-transform: capitalize;
		}
		p {
		    font-size: 15px;
		    line-height: 30px;
		}
		.portfolio-category {
			a {
			    font-size: 16px;
				font-weight: 500;
				text-transform: capitalize;
			}
		}
		.portfolio-meta {
			li {
				margin: 15px 0;
				span {
				    display: inline-block;
				    width: 130px;
				    letter-spacing: 1px;
				    color: #202020;
				    font-size: 12px;
				    text-transform: uppercase;
				    font-weight: 700;
				}
				i {
				    font-size: 18px;
				    margin-right: 5px;
				    &:hover {
				    	opacity: 0.6;
				    }
				}
			}
		}
	}
}